<%include ./header %>
<div class="row">
	<div class="col-md-12" style="margin-top:100px">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-2">E o curso de paint, como vai ?</h1>
				<br/>
				<p class="lead"> 
					"Eu não preciso me exibir eu apareço naturalmente" <br/>
				</p>
			</div>
			<br/>
			<a class="btn btn-default btn-success" href="/logout" role="button">Ganhe os 10</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	setTimeout(function(){
		window.location.href = '/';
	}, 15000);
</script>
<%include ./footer %>