<%include ./header %>
<div class="row">
	<div class="col-md-12" style="margin-top:100px">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-3">Pensar não é o seu forte?</h1>
				<br/>
				<p class="lead"> 
					"Eu não preciso me exibir eu apareço naturalmente" <br/>
					</p>
				</div>
				<br/>
				<a class="btn btn-default btn-success" href="/logout" role="button">Ganhe os 10</a>
			</div>
		</div>
	</div>
<%include ./footer %>